PointOfSale/Connected Services/MenuService/MenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/menu?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/menu?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/menu?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PointOfSale.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuServcie_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetCategoryMenuItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryMenuItems" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetCategoryMenuItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryMenuItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetMenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItem" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_GetMenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_SaveMenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMenuItem" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_SaveMenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_SaveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategory" />
  </wsdl:message>
  <wsdl:message name="IMenuServcie_SaveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuServcie">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/GetCategories" message="tns:IMenuServcie_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/GetCategoriesResponse" message="tns:IMenuServcie_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/GetCategory" message="tns:IMenuServcie_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/GetCategoryResponse" message="tns:IMenuServcie_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryMenuItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/GetCategoryMenuItems" message="tns:IMenuServcie_GetCategoryMenuItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/GetCategoryMenuItemsResponse" message="tns:IMenuServcie_GetCategoryMenuItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/GetMenuItem" message="tns:IMenuServcie_GetMenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/GetMenuItemResponse" message="tns:IMenuServcie_GetMenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/SaveMenuItem" message="tns:IMenuServcie_SaveMenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/SaveMenuItemResponse" message="tns:IMenuServcie_SaveMenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuServcie/SaveCategory" message="tns:IMenuServcie_SaveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuServcie/SaveCategoryResponse" message="tns:IMenuServcie_SaveCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuServcie" type="tns:IMenuServcie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryMenuItems">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/GetCategoryMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItem">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/GetMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMenuItem">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/SaveMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCategory">
      <soap:operation soapAction="http://tempuri.org/IMenuServcie/SaveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="BasicHttpBinding_IMenuServcie" binding="tns:BasicHttpBinding_IMenuServcie">
      <soap:address location="http://localhost:8080/menu" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>