PointOfSale/Connected Services/UsersService/users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/users?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PointOfSale.Models" />
  <xs:import schemaLocation="http://localhost:8080/users?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PointOfSale.Contracts.Users" />
  <xs:element name="GetClockedInUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClockedInUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PointOfSale.Models" minOccurs="0" name="GetClockedInUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PointOfSale.Contracts.Users" minOccurs="0" name="LoginResult" type="q2:LoginStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>